!@( component|player )
<div class="flex vertical inline" id="song-player-bar">
    <p></p>
    <audio class="full-width" src="" controls></audio>
</div>
<script>
    function changeTrack(title, artist, path)
    {
        const bar = document.getElementById('song-player-bar');
        bar.querySelector('p').textContent = `${title} - ${artist}`;

        const audioPlayer = bar.querySelector('audio');
        audioPlayer.src = path;
        audioPlayer.play();
        console.log(bar.querySelector('audio'));
    }
</script>
!@( end )
