<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>

		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
	</head>
	<body>
		<h1>Hey!</h1>

		<button hx-post="/random-number" hx-swap="innerHTML" hx-trigger="click">
			Click Me
		</button>

		<br>

		<input type="text" name="username" hx-post="/validate" hx-target="#target" hx-trigger="input changed">

		<div id="target"></div>

		<a href="/_debug/phpinfo">Debug</a>
	</body>
</html>