.song, .artist {
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    padding: 10px;
    margin-bottom: 10px;

    cursor: pointer;
    transition: all 0.5s ease;
}

.song:hover, .artist:hover {
    padding: 15px;
    transition: all 0.5s ease;
}
