<component !@( #component|main_page )>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Debug</title>

        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

        <link rel="stylesheet" href="/CSS/Core/General.css">
        <link rel="stylesheet" href="/CSS/Core/Debug.css">
    </head>
    <body>
        <main class="flex">
            <div id="side-bar-tabs">
                <div class="side-bar-tab">
                    <h2>Options</h2>
                </div>
                <div class="side-bar-tab" hx-get="/_debug/requests" hx-trigger="click" hx-target="#main-content">
                    <p>Requests</p>
                </div>
                <div class="side-bar-tab" hx-get="/_debug/site-map" hx-trigger="click" hx-target="#main-content">
                    <p>Site map</p>
                </div>
                <div class="side-bar-tab" hx-get="/_debug/php-info" hx-trigger="click" hx-target="#main-content">
                    <p>PHP</p>
                </div>
            </div>
            <div id="main-content">
                !@( $content )
            </div>
        </main>
    </body>
</html>
</component>

<component !@( #component|request )>
<div>
    <p>!@( $datetime ) | !@( $url )</p>
</div>
</component>

<component !@( #component|site_map_entry )>
<div>
	<div class="flex inline">
		<h3 style="margin-right: 15px;">!@( $route )</h3>
		<p>!@( $name )</p>
	</div>
	<p>!@( $class )::!@( $method )</p>
	<br>
</div>
</component>
